<% if member %>
  <li class="member" data-id="<%= member.attrs[:id]%>" data-type="<%= 'un' if unfollower %>follower" data-screen-name="<%= member.attrs[:screen_name]%>">
    <img src="<%= member.attrs[:profile_image_url] %>" />
    &nbsp;
    
    <%= member.attrs[:name] %>
    &nbsp;
    
    <a href="http://twitter.com/<%= member.attrs[:screen_name] %>">@<%= member.attrs[:screen_name] %></a>
    &nbsp;
    
    <% if member.attrs[:followers_count] > 100 %>
      [Influencer]
      &nbsp;
    <% end %>
   
    <% if engaged %>
      [Engaged]
      &nbsp;
    <% end %>
    
    
    <% if unfollower %>
      <b>Not </b>
    <% end %>
    Following you
    &nbsp;
    <%= "#{member.attrs[:followers_count]} Follower#{member.attrs[:followers_count] != 1 ? 's' : ''}" %>  
    <% if member.attrs[:following] %>
      <div class="dismiss_button" data-method='unfollow'>Unfollow</div>
    <% else %>
      <div class="dismiss_button" data-method='follow'>Follow</div>
    <% end %>
    <div class="dismiss_button" data-method='say_hi'>Say Hi</div>
    <div class="dismiss_button" data-method='dismiss'>X</div>
  </li>
<% end %>